/* table, th, td
{
    border: 1px solid black;
    padding-left: 10em;
    padding-right: 10em;
} */
#triangle {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid black;
}

.button-own {
  margin-left: 79%;
  margin-top: 2.5%;
  margin-bottom: 3%;
}
.t-25 {
  margin-top: 2%;
  margin-bottom: 3%;
}
body {
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
}
#ms-log {
  display: none;
  color: red !important;
}
.dropdown button
{
  background-color: #fffb7d;
}
/* .dropdown ul{
  list-style: none;
}
.dropdown button{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.dropdown-item{
  cursor: pointer;
}
.dropdown-item:hover{
  background-color: lightblue;
}
.dropdown-item.active{
  background-color: #007db8;
  color: white;
} */